# Default ignored files
/shelf/
/.idea/workspace.xml
/compiler.xml
/encodings.xml
/jarRepositories.xml
/misc.xml
/vcs.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/jarRepositories.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/misc.xml
.idea/encodings.xml
target/classes/com/security/config/SecurityConfig.class
target/classes/com/security/controller/SecureController.class
target/classes/com/security/controller/AuthController.class
target/classes/com/security/repository/UserRepository.class
target/classes/com/security/SpringSecurityApplication.class
target/classes/com/security/service/UserService.class
target/classes/com/security/service/CustomUserDetailsService.class
target/classes/com/security/entity/User.class
target/classes/com/security/dto/SignUpRequest.class
.idea/uiDesigner.xml
